.one{
    width:200px;
    border:2px solid black;
     background-color:white;
     margin-top: 150px;
     margin-left: 1100px;
     margin-right: 500px;
     padding: 20px;
     
 }
 .main{
    padding-bottom: 170px;
 }
 body {
    background-image: url(image\ backgorund.webp); /* Background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter: blur(3px);
}
 .two{
      width:260px;
 }
 .submit{
     width:180px;
     height:35px;
     border: none;
     background-color: rgb(255, 0, 0);
     padding-left: 20px;
 }
 .text{
     font-size:x-large;
 }